@keyframes slideSide {
  0% {
    opacity: 0;
    translate: -15px 0;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}

.server-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #323232;
  padding: 1rem;
  margin: 0rem 0rem;
  border-radius: 0.5rem;
  justify-items: center;
  animation-name: slideSide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  flex-wrap: wrap;
  row-gap: 20px;
  transition: scale 0.35s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 0px 30px 1px rgba(0, 0, 0, 0);

  &:hover {
    scale: 1.01;
    box-shadow: 0 2px 50px 1px rgba(0, 0, 0, 0.411);
  }

  .server-icon {
    user-select: none;
    pointer-events: none;
  }

  .server-info {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    color: #afafaf;
    font-size: 0.85rem;
    padding: 0 1.5rem;

    .server-info-title {
      font-size: 1rem;
      color: #fff;
    }
  }
}

@media screen and (max-width: 1120px) {
  .server-card {
    .server-icon {
      width: 100%;
    }

    .server-info {
      &:nth-child(2) {
        width: 100%;
      }
    }
  }
}
