@keyframes slideSide {
  0%{
    opacity: 0;
    translate: -15px 0;
  }
  100%{
    opacity: 1;
    translate: 0 0;
  }
}

.server-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #323232;
  padding: 1rem;
  margin: 0rem 0rem;
  border-radius: 0.5rem;
  justify-items: center;
  animation-name: slideSide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  .server-icon {
    user-select: none;
    pointer-events: none;
  }
  .server-info {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    color: #afafaf;
    font-size: .85rem;
    padding: 0 1.5rem;
    .server-info-title {
      font-size: 1rem;
      color: #fff;
    }
  }
}
